.container {
  display: flex;
  justify-content: center;

  background: linear-gradient(180deg, #c711ce, #1abeff);
  width: 100%;
  min-height: 100vh;
}

.formulario {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;

  font-size: 1.8rem;
  height: 350px;
  padding: 10px 15px;
  background-color: #FFFFFF;
  width: 95vw;
  margin-top: 50%;
  border-radius: 16px;
}

.error_message {
  color: rgb(255, 5, 5);
  font-size: 1.5rem;
  background-color: rgba(252, 6, 6, 0.171);
  padding: 5px;
  border-radius: 8px;
}

.formulario input {
  font-size: 1.5rem;
  line-height: 45px;
  text-align: center;
  border-radius:32px;
  width: 85vw;
}

.formulario button {
  font-size: 1.5rem;
  line-height: 45px;
  border-radius: 32px;
  background-color: rgb(101, 137, 255);
  width: 85vw;
}
